

body {
    margin: 0;
    padding: 0;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;

    background-color: #ffffff;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.inner {
    color: #000000;

    background-color: #f1f5f7;
}

a {
    font-family: "Cuprum", Arial, sans-serif;
    font-weight: normal;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    -webkit-clip-path: inset(100%);

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;

    font-family: "Cuprum", Arial, sans-serif;
}

.main-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    z-index: 1;
    background-position: 10px 10px;
    font-family: "Cuprum", Arial, sans-serif;
    font-weight: normal;
    background-color: #f4f6f8;
}

.page-header__top {
    width: 100%;
    margin-bottom: 40px;

    z-index: 2;
    font-size: 17px;
    line-height: 22px;
    color: #ffffff;

    background-color: #30374a;
}

.page-header__top .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.order-menu,
.user-navigation__link,
.site-navigation {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-header-logo,
.order-menu {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.main-header-logo {
    position: absolute;
    width: 220px;
    height: 45px;
    padding: 0;
    z-index: 3;

    font-size: 17px;
    line-height: 30px;
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: bold;

    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;

    background-color: #ee3643;
    border-bottom: 5px solid #b52933;
}

.main-footer-logo {
    width: 220px;
    height: 65px;

    font-size: 21px;

    font-family: "PT Sans", Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;

    background-color: #ee3643;
    border-bottom: 5px solid #b52933;
}

.main-header-logo path,
.main-footer-logo path {
    fill: #ffffff;
}

.main-header-logo:hover,
.main-footer-logo:hover {
    background-color: #ca2c37;
    border-bottom: 5px solid #9a212a;
}

.main-header-logo:focus,
.main-footer-logo:focus {
    background-color: #ee3643;
    border-bottom: 5px solid #9a212a;
}

.main-header-logo:active,
.main-footer-logo:active {
    background-color: #ba2732;
    border-bottom: 5px solid #8e1e26;
}

.search-form {
    position: relative;
    top: 0.5px;
    left: 220px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 270px;
    margin: 0 auto 0 0 ;
    padding: 0;
}

.search-form label {
    position: absolute;
    top: 11px;
    left: 40px;
}

.search-form input[type="text"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 270px;
    padding: 12px 0 12px 45px;

    font-family: "Cuprum", Arial, sans-serif;
    font-size: 17px;
    color: #000000;
    border: none;
    background-color: #30374a;
    outline: none;
}

.search-form input[type="text"]:focus {
    color: #000000;
    background-color: #ffffff;
}

.search-form input[type="text"]:focus + .search__label {
    display: none;
}

.search__icon {
    position: absolute;
    top: 12px;
    left: 12px;

    fill: #ffffff;
    opacity: 0.3;
}

.search-form:hover .search__icon {
    opacity: 1;
}

.search-form input:focus + .search__label + .search__icon {
    opacity: 1;
    fill: #ee3643;
}

.order-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 450px;
    margin: 0;
    padding: 0;
}

.order-menu a {
    color: #ffffff;
}

.order-menu__bookmarks,
.order-menu__basket {
    position: relative;
    padding-left: 45px;
    padding-right: 30px
}

.order-menu__bookmarks::before {
    content: "";

    position: absolute;
    top: 1px;
    left: 16px;

    width: 16px;
    height: 18px;

    background-image: url("../img/icon-bookmark.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;
}

.order-menu__basket::before {
    content: "";

    position: absolute;
    top: 1px;
    left: 14px;
    width: 16px;
    height: 18px;

    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: url("../img/icon-cart.svg");
    opacity: 0.3;
}

.order-menu__bookmarks:hover::before,
.order-menu__bookmarks:focus::before,
.order-menu__bookmarks:active::before,
.order-menu__basket:hover::before,
.order-menu__basket:focus::before,
.order-menu__basket:active::before{
    opacity: 1;
}

.order-menu__bookmarks:focus,
.order-menu__basket:focus {
    color: #999ca1;
    background-color: #161d29;
    opacity: 0.6;
}

.order-menu__bookmarks:active,
.order-menu__basket:active {
    color: #999ca1;
    background-color: #161d29;
}

.inner .order-menu__basket {
    position: relative;
    display: block;
    width: 150px;

    margin: 0;
    padding: 11px 0 11px 5px;
    text-align: center;
    background-color: #ee3643;
}

.inner .order-menu__basket::before {
    content: "";

    position: absolute;
    top: 15px;
    left: 15px;
    width: 16px;
    height: 18px;

    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: url("../img/icon-cart.svg");
    opacity: 0.3;
}

.order-menu__button {
    position: relative;

    display: block;
    width: 150px;
    margin: 0 auto;
    padding: 11px 0;
    text-align: center;
    background-color: #63a63e;
}

.order-menu__button:hover {
    background-color: #5fbb2d;
}

.order-menu__button:focus,
.order-menu__button:active {
    background-color: #518534;
}

.order-menu__button,
.order-menu__button:hover {
    color: #ffffff;
}

.order-menu__button:focus,
.order-menu__button:active {
    color: #a2be93;
}

.page-header__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 940px;
    margin: 0;
    padding: 0;

}

.main-navigation {
    width: 940px;
    margin-bottom: 60px;
    padding: 0;

    font-family: "Cuprum", Arial, sans-serif;
    font-size: 17px;
    color: #ffffff;

    background-color: #3a445b;
    border-bottom: 5px solid #293449;
}

.site-title {
    margin: 5px 0 42px 60px;

    font-style: italic;
    font-size: 16px;
    line-height: 23px;
    color: #ee434f;
}

.main-header-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.phone-link {
    position: relative;
    width: 270px;

    padding: 9px 0;
    margin: 0;
    font-size: 21px;
    color: #ee3643;
    text-align: center;
    border: 3px solid #ffffff;
}

.phone-link::before {
    content: "";

    position: absolute;
    top: 11px;
    left: 10px;

    width: 19px;
    height: 19px;

    padding-left: 50px;

    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;

    color: #b7bfc8;
}

.header-contacts {
    font-size: 14px;
    line-height: 24px;
    color: #32425c;
}

p.header-contacts {
    margin-top: 6px;
    text-align: center;
}

.user-navigation__link{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.user-navigation__link a:hover{
    color: #ee3643;
    background-color: #ffffff;
}

.user-navigation__link a:focus {
    color: #c5c5c5;
    background-color: #ffffff;
}

.user-navigation__login{
    position: relative;

    display: block;
    width: 120px;
    margin: 0 10px 0 0;
    padding: 12px 0;
    text-align: center;
    font-size: 21px;
    color: #000000;
    background-color: #ffffff;
}

.user-navigation__login::before {
    content: "";

    position: absolute;
    top: 14px;
    right: 55px;

    width: 16px;
    height: 18px;

    padding-left: 40px;

    background-image: url("../img/icon-login.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    color: #c5c5c5;
}

.user-navigation__reg {
    position: relative;

    display: block;
    width: 150px;
    margin: 0;
    padding: 12px 0;
    text-align: center;
    font-size: 21px;
    color: #000000;
    background-color: #ffffff;
}

.user-navigation__login a:hover {
    color: #000000;
}

.user-navigation__login a:focus,
.user-navigation__login a:active {
    color: #c5c5c5;
}

.inner .user-navigation__link {
    display: block;

}
.user-login {
    position: relative;
}

.inner .user-navigation__login,
.inner .user-navigation__login:hover{
    position: relative;

    display: block;
    width: 300px;
    margin: 0;
    padding: 11px 0;
    text-align: center;
    font-size: 21px;
    color: #000000;
    background-color: #ffffff;
}

.inner .user-navigation__login:focus,
.inner .user-navigation__login:active {
    color: #c5c5c5;
}

.inner .user-navigation__login svg,
.inner .user-navigation__login:focus svg,
.inner .user-navigation__login:active svg {
    position: absolute;
    top: 14px;
    right: 225px;

    width: 16px;
    height: 18px;

    padding-left: 40px;

    background-repeat: no-repeat;
    fill: #c5c5c5;
}

.inner .user-navigation__login:hover svg {
    fill: #32425c;
 }

.button-exit,
.button-exit:focus,
.button-exit:active {
    position: absolute;
    top: 15px;
    right: 20px;

    width: 21px;
    height: 17px;

    font-size: 0;

    background-color: #ffffff;
    border: 0;

    cursor: pointer;

    background-repeat: no-repeat;
    background-position: 0 0;
    fill: #c5c5c5;
}

.button-exit:focus,
.button-exit:active {
    outline: none;
}

.button-exit:hover {
    fill: #32425c;
}

.inner .user-account {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-top: 8px;
    margin-left: 20px;
}

.user-navigation__login:hover::before,
.user-navigation__login:hover::after {
    color: #32425c;
}

.user-navigation__login:focus::before,
.user-navigation__login:active::before,
.user-navigation__login:focus::after,
.user-navigation__login:active::after {
    color: #32425c;
}

a.user-navigation__orders,
a.user-navigation__acc {
    position: relative;

    font-size: 16px;
    line-height: 18px;
    color: #32425c;
    text-decoration: underline;
}

a.user-navigation__orders {
    padding-right: 20px;
}

a.user-navigation__acc {
    padding-left: 15px;
}

.user-navigation__orders::after {
    content: "";

    position: absolute;
    top: 7px;
    right: 0;

    width: 5px;
    height: 5px;

    background-color: #32425c;
    border-radius: 50%;
}

.user-navigation__orders a:hover,
.user-navigation__acc a:hover {
    color: #ee3643;
}

.user-navigation__orders a:focus,
.user-navigation__acc a:focus {
    color: #b7bfc8;
}

.site-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-around;
}

.site-navigation a {
    display: block;
    padding: 18px 30px;
    vertical-align: middle;
    color: #ffffff
}

.site-navigation a:hover {
    background-color: #293449;
}

.site-navigation a:focus {
    color: #868c95;
    background-color: #1d2739;
}

.index-columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 60px 0 105px 0;
    margin: 0;

    font-family: "Cuprum", Arial, sans-serif;
}

.info {
    width: 540px;

}

.contacts {
    width: 300px;

}
.index-columns h2 {
    font-size: 30px;
    font-weight: bold;
    font-family: "Cuprum", Arial, sans-serif;
    text-transform: uppercase;

}

.index-columns p {
    font-size: 14px;
    line-height: 20px;
}

.index-columns ul {
    font-size: 17px;
    font-weight: bold;
    list-style: none;
}

.partners li {
    position: relative;
}

.partners li::before {
    content: "";
    position: absolute;
    top: 10px;
    left: -40px;

    width: 25px;
    height: 2px;


    background-color: #ee3643;
}

.info .button {
    display: inline-block;
    margin-top: 10px;
}

.contacts .button {
    display: block;
    margin-top: 8px;
}

.info .button,
.contacts .button {
    padding: 10px 40px;

    font-size: 14px;
    line-height: 18px;
    font-family: "Cuprum", Arial, sans-serif;

    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;

    background-color: #ee3643;
    border: none;
}

.info .button:hover,
.contacts .button:hover {
    background-color: #ca2c37;
}

.info .button:focus,
.contacts .button:focus {
    background-color: #ba2732;
}

.main {
    background-color: #ffffff;
}

.range {
    margin-top: 60px;
}

.range-list-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    -ms-flex-wrap: wrap;

    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;

    padding: 0;
    margin: 0;

    list-style: none;
}

.range-list-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    -ms-flex-wrap: wrap;

    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;

    padding: 0;
    margin: 0 0 0 20px;

    list-style: none;
}

.range-item {
    position: relative;
    margin-bottom: 19px;
    width: 300px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    border: none;
}

.range-item__materials {
    background-color: #ffbf47;
}

.range-item__tool {
    background-color: #3bbce3;
}

.range-item__technique {
    background-color: #dc91d8;
}

.range-item__discounts {
    margin-left: auto;
    background-color: #8ed78f;
}

.range-item__delivery {
    -ms-flex-item-align: end;
    align-self: flex-end;
    background-color: #ffc047;
}

.range-item h3 {
    padding-left: 20px;
    font-size: 24px;
    line-height: 30px;
    font-family: "Cuprum", Arial, sans-serif;
    font-weight: bold;

    color: #ffffff;
}

.range-list-top .button,
.range-list-bottom .button {
    width: 130px;
    margin-top: -11px;
    margin-bottom: 19px;
    margin-left: 20px;
    padding: 10px 0;
    display: block;

    font-size: 14px;
    line-height: 18px;
    font-family: "Cuprum", Arial, sans-serif;
    text-align: center;
    color: #ffffff;

    text-transform: uppercase;

    background-color: rgba(178, 178, 178, 0.3);
    border: none;
    border-radius: 2px;
}

.range-list .button:hover {
    background-color: rgba(178, 178, 178, 0.6);
}

.range-list .button:focus,
.range-list .button:active {
    background-color: rgba(178, 178, 178, 1);
}

.range-item .icon {
    position: absolute;

    padding: 0;
    z-index: 3;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.materials__icon {
    top: 30px;
    right: 41px;
}

.tool__icon {
    top: 30px;
    right: 27px;
}

.technique__icon {
    top: 30px;
    right: 30px;
}

.discounts__icon  {
    top: 25px;
    right: 45px;
}

.delivery__icon {
    top: 31px;
    right: 30px;
}

.range-item__badge {
    position: relative;
}

.range-item__badge::before {
    content: "";
    position: absolute;
    top: -1px;
    right: -1px;

    width: 60px;
    height: 60px;

    text-indent: -1000px;
    overflow: hidden;
    z-index: 5;

    background-image: url("../img/new-flag.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.range-bottom-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-bottom: 60px;
}

.slider-tools {
    position: relative;
    width: 620px;
}

.slider-tool-btn {
    position: absolute;
    left: 50%;
    bottom: 55px;
    z-index: 2;
    width: 30px;
    height: 10px;

    display: flex;
    justify-content: space-between;
    text-align: center;

    font-size: 0;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.btn-tool {
    padding: 0;
    width: 10px;
    height: 10px;

    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
}

.btn-tool__active {
    background-color: #ee3643;
    outline: none;
}

/*.slider-tool-controls {
    position: absolute;
    left: 50%;
    bottom: 50px;
    z-index: 2;

    width: 160px;
    height: 18px;

    text-align: center;
    font-size: 0;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.slider-tool-controls label {
    display: inline-block;
    position: relative;
    z-index: 1;
    width: 10px;
    height: 10px;
    margin-left: 10px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 0;

    background-color: #ffffff;
}

#slider-1:checked ~ .slider-tools label[for="slider-1"],
#slider-2:checked ~ .slider-tools label[for="slider-2"] {
    content: "";

    position: absolute;
    top: 7px;
    left: 7px;
    z-index: 2;

    width: 6px;
    height: 6px;

    border-radius: 50%;

    background-color: #ee3643;
}
*/

.btn-left {
    position: absolute;
    top: 40%;
    left: 24px;
    width: 22px;
    height: 40px;

    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: url("../img/icon-left.svg");
    cursor: pointer;
}


.btn-right {
    position: absolute;
    top: 40%;
    right: 24px;
    width: 22px;
    height: 40px;

    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: url("../img/icon-right.svg");

    cursor: pointer;
}

#slider-1:checked ~ .slider-tools #slide1,
#slider-2:checked ~ .slider-tools #slide2 {
    display: block;
}

.slider-tool-list {
    margin: 0;
    padding: 0;

    list-style: none;
}

.slider-tool-item {
    display: none;
    margin-left: -10px;
    padding: 0;
    width: 620px;
    height: 266px;
}

.slider-tool-item:nth-child(1) {
    display: block;
}

.slider-tool-item h3 {
    position: absolute;
    top: 24px;
    left: 24px;
    margin: 0;

    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
    font-family: "Cuprum", Arial, sans-serif;
    color: #ffffff;
    text-transform: uppercase;
}

.slider-tool-item p {
    position: absolute;
    top: 65px;
    left: 24px;
    margin: 0;
    margin-bottom: 28px;

    font-size: 18px;
    line-height: 24px;
    font-family: "Cuprum", Arial, sans-serif;
    color: #ffffff;
}

.slider-tool-button {
    position: absolute;
    bottom: 40px;
    left: 24px;
    padding: 10px 50px;

    font-size: 14px;
    line-height: 18px;
    font-family: "Cuprum", Arial, sans-serif;

    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;

    background-color: #ee3643;
    border: none;
    border-radius: 2px;
}

.slider-tool-button :hover {
    background-color: #ca2c37;
}

.slider-tool-button :focus {
    background-color: #ba2732;
}

.popular-product__wrap,
.main-brand__wrap {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px 0;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #f9f5f0;
}

.popular-product,
.main-brand,
.main-product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    text-transform: uppercase;
}

.popular-product,
.main-brand {
    padding-left: 30px;
}

.main-product__wrap {
    width: 100%;
    padding: 10px 0;
    background-color: #f2f6f8;
}

.btn__popular,
.btn__brand {
    margin-right: 30px;
    padding: 10px 40px;
    display: block;

    font-size: 14px;
    line-height: 18px;
    font-family: "Cuprum", Arial, sans-serif;
    text-align: center;
    color: #ffffff;

    text-transform: uppercase;

    background-color: #ee3643;
    border: none;
    border-radius: 2px;
}

.btn__popular:hover,
.btn__brand:hover {
    background-color: #ca2c37;
}

.btn__popular:focus,
.btn__brand:focus {
    background-color: #ba2732;
}

ul.catalog-list__popular {
    margin-bottom: 0;
    list-style: none;
}

.brands-catalog {
    width: 100%;
    margin: 20px auto;
}

.brands-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-bottom: 70px;
    list-style: none;
}

.brand-item {
    position: relative;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 218px;
    height: 140px;
    margin-bottom: 20px;

    border: 1px solid #e5e5e5;
}

.brand-item:nth-child(4n) {
    margin-right: 0;
}

.brand-item:hover {
    -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.5);
}

.brand-item:focus,
.brand-item:active {
    -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.5);
    opacity: 0.5;
}

.service-wrap{
    width: 100%;
    background-color: #f4f8f9;
}

.service-wrap-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    padding: 0;
    margin: 0;
}

.index-columns .service {
    max-width: 420px;
    margin: 0;
    margin-bottom: 60px;
}

.slider-service {
    position: relative;
    box-sizing: border-box;
}

.slider-item__service {
    display: none;
    width: 600px;
    min-height: 180px;
    height: auto;

    padding: 0;
    background: #f4f8f9;
    position: absolute;
    top: 0;
    left: 300px;
    border: none;
    animation: scale 0.7s ease-in-out;

}

.slider-item__service:nth-child(1) {
    display: block;
}

.slider-item__service h3 {
    max-width: 620px;
    margin: 0;
    margin-bottom: 30px;
    font-size: 35px;
    line-height: 35px;
    font-weight: bold;
    color: #32425c;
    text-transform: uppercase;
}

.slider-item__service p {
    max-width: 290px;
    margin: 0;
    margin-bottom: 30px;

}

.slider-item__service img {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 465px;
    margin: 0;

}

.service__input {
    display: none;
}

.service__label {
    width: 220px;

    padding-top: 13px;
    padding-bottom: 17px;
    padding-left: 20px;
    display: block;

    font-size: 21px;
    line-height: 30px;
    font-weight: bold;
    font-family: "Cuprum", Arial, sans-serif;
    text-align: left;
    color: #ffffff;

    background-color: #32425c;
    border-top: 1px solid #405069;
    border-bottom: 1px solid #293449;
}

.slider-service-tabs::after {
    content: "";

    position: absolute;
    top: -40px;
    right: 0;

    width: 10px;
    height: 272px;

    background-repeat: no-repeat;
    background-position: 0 0;


    background-image: url("../img/shadow.png");
}

.service__input:hover {
    background-color: #293449;
}

.service__input:checked + label {
    color: #32425c;
    background-color: #ffffff;
    border: none;
}

#tab1:checked ~ #slide-delivery, #tab2:checked ~ #slide-guarantee, #tab3:checked ~ #slide-credit {
    display: block;
}

@keyframes scale {
    0% {
        transform: scale(0.9);
        opacity: 0;
    }
    50% {
        transform: scale(1.005);
        opacity: 0.5;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.breadcrumbs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 20px 20px 20px 0;
    margin: 0;

    list-style: none;
}

.breadcrumbs li {
    position: relative;
    margin-right: 40px;
}

.breadcrumbs li:last-child {
    margin-right: 0;
}

.breadcrumbs li::after {
    content: "";

    position: absolute;
    top: 6px;
    right: -25px;

    width: 10px;
    height: 14px;

    background-repeat: no-repeat;
    background-position: 0 0;


    background-image: url("../img/icon-right-small.svg");
    color: #c1c6ce;
}

.breadcrumbs-current::after {
    display: none;
}

.breadcrumbs a,
.breadcrumbs-current {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    color: #000000;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
    text-decoration: underline;
}

.catalog-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.catalog-item h3 {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
}

.filters {
    margin-top: 7px;
    margin-right: 20px;
}

.filters h3 {
    width: 200px;
    border: none;
    padding: 11px 0 11px 20px;

    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    font-family: "PT Sans", Arial, sans-serif;

    text-align: left;
    color: #000000;

    background: #f7f3ec;
}

.filter legend {
    margin-bottom: 20px;

    font-size: 17px;
    font-weight: bold;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
}

.filter fieldset {
    padding: 0;
    margin: 0;
    margin-bottom: 20px;

    border: none;
}

.range-filter {
    width: 220px;
    margin-top: 20px;
}

legend.price-filter {
    margin-bottom: 0;
}

.range-controls {
    position: relative;

    height: 41px;
    margin-bottom: 10px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;

    background-color: #f7f3ec;

}

.range-controls .scale {
    height: 2px;

    background: #d7dcde;
}

.range-controls .bar {
    width: 70%;
    height: 2px;

    background: #00ca74;
}

.range-controls .toggle {
    position: absolute;
    top: 31px;
    left: 0;

    width: 4px;
    height: 4px;
    padding: 0;

    border: 8px solid #ffffff;
    background-color: #ababab;
    -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    border-radius: 50%;
    cursor: pointer;
}

.range-controls .toggle-min {
    left: 18px;
}

.range-controls .toggle-max {
    left: 160px;
}

.price-controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    font-size: 0;
}

.price-controls label {
    display: inline-block;
    width: 50%;

    font-size: 16px;
    text-transform: uppercase;
}

.price-controls input {
    width: 93px;
    padding: 8px 0;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;
    text-align: center;
    color: #000000;

    border: none;
    background: #f7f3ec;
}

.max-price {
    text-align: right;
}

.filter ul {
    padding: 0;
    margin: 0;

    list-style: none;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
}

.filter-option {
    /*width: 220px;*/
    margin-bottom: 22px;
    padding-left: 35px;
}

.filter-option label {
    position: relative;

    display: block;

    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.filter-input:hover + label,
.filter-input:focus + label {
    color: #000000;
}

.filter-input-checkbox + label::before {
    content: "";
    position: absolute;
    left: -35px;
    top: 0;

    width: 23px;
    height: 23px;

    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-input-checkbox:checked + label::after {
    content: "";

    position: absolute;
    top: 0;
    left: -35px;

    width: 23px;
    height: 23px;

    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-input-radio + label::before {
    content: "";

    position: absolute;
    left: -35px;
    top: -1px;

    width: 25px;
    height: 25px;

    background-image: url("../img/radio-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-input:disabled + label {
    color: #b4b4b4;

    opacity: 0.5;
}

.filter-input-radio:checked + label::after {
    content: "";

    position: absolute;
    left: -35px;
    top:  -1px;

    width: 25px;
    height: 25px;

    background-image: url("../img/radio-on.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-input-checkbox + label:hover::before,
.filter-input-checkbox:checked + label:hover::after,
.filter-input-radio + label:hover::before,
.filter-input-radio:checked + label:hover::after {
    color: #b5b5b5;
}

.filter-button {
    display: inline-block;
    margin-right: 16px;
    padding: 10px 40px;

    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: #000000;
    vertical-align: middle;
    text-transform: uppercase;

    background-color: #ffffff;
    border: 1px solid #e5e5e5;
}

.catalog {
    width: 700px;
    margin: 20px auto;
}

.product-filter {
    position: relative;
    width: 680px;
    margin: 0 0 20px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

}

.product-filter h3,
.product-filter {
    font-size: 13px;
    line-height: 13px;
    text-transform: uppercase;
    font-family: "PT Sans", Arial, sans-serif;
    color: #000000;

    background: #f7f3ec;
}

.product-filter h3 {
    padding: 0 10px;
}

.filter-sorting {
    padding-left: 125px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    vertical-align: middle;
}

.filter-sorter {
    position: relative;
    margin-bottom: 0;
    padding: 0 63px 0 0;
    font-family: "PT Sans", Arial, sans-serif;
    color: #000000;
    border: none;
}

.filter-sorter a {
    font-family: "PT Sans", Arial, sans-serif;
    color: #c5c5c5;
    text-decoration: underline dotted #ee3643;
}

.filter-sorter a:hover {
    color: #000000;
    text-decoration: underline solid #ee3643;
}

.filter-sorter a:focus,
.filter-sorter a:active {
    color: #ee3643;
    text-decoration: none;
}

.filter-sorter-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 43px;
    height: 10px;

    display: flex;
    justify-content: space-between;
    text-align: center;
}

.btn__up,
.btn__down {
    display: block;
    width: 11px;
    height: 10px;
    font-size: 0;
    background-repeat: no-repeat;
    background-position: 0 0;
}

.btn__down svg,
.btn__up svg {
    fill: #c5c5c5;
}

.btn__up:hover svg,
.btn__down:hover svg {
    fill: #000000;
}

.btn__up:focus path,
.btn__down:focus path,
.btn__up:active path,
.btn__down:active path{
    fill: #ee3643;
}

.catalog-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-bottom: 50px;
    list-style: none;
}

.catalog-item {
    position: relative;
    display: inline-block;
    width: 218px;

    margin-bottom: 20px;

    line-height: 20px;
    font-weight: bold;
    text-align: center;

    border: 1px solid #e5e5e5;

}

.catalog-item:nth-child(3n) {
    margin-right: 0;
}

.catalog-items {
    font-size: 0;
}

.catalog-item {
    font-size: 16px;
}

.catalog-item--badge {
    position: relative;
}

.catalog-item--badge::before {
    content: "";
    position: absolute;
    top: -1px;
    right: -1px;

    width: 60px;
    height: 60px;

    text-indent: -1000px;
    overflow: hidden;
    z-index: 5;

    background-image: url("../img/new-flag.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.btn__buy,
.btn__bookmark {
    display: none;
}

.catalog-item-image {
    width: 218px;
    height: 168px;
}

.catalog-item-image img{
    max-width: 100%;
}

.catalog-item:hover {
    -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.5);
}

.catalog-category,
.catalog-item-title {
    min-height: 40px;
    padding: 0 25px;
    margin-top: 10px;
    margin-bottom: 15px;
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: bold;
    color: #000000;
}

.catalog-category {
    text-transform: none;
}

.catalog-item-price {
    font-size: 16px;
    line-height: 32px;
    text-align: center;
}

.catalog-item-price .price__old {
    display: block;
    min-height: 32px;
    margin-top: 15px;
    margin-bottom: 10px;

    color: #999999;
    background-color: #ffffff;

    text-decoration: line-through;
}

.price {
    position: relative;

    display: block;
    width: 80px;
    margin: 10px auto 20px auto;
    padding: 4px 30px;

    color: #ffffff;
    background-color: #ee3643;
    border-radius: 3px;
}

.price:after {
    content: "";

    position: absolute;
    top: 0;
    right: -20px;

    width: 0;
    height: 0;

    border: 20px solid white;
    border-left-color: #ee3643;
}

.product__hover {
    position: absolute;
    top: 0;
    left: 0;

    width: 218px;
    height: 88px;
    padding: 40px 0;

    background-color: rgba(255,255,255,0.9);
    z-index: 4;
}

.product__hover .btn__buy,
.product__hover .btn__bookmark {
    display: block;
    width: 129px;
    margin: 0 auto;
    margin-bottom: 7px;
    padding: 7px 0;

    background-color: #63a63e;
    border: 3px solid #63a63e;
    border-bottom-color: #367315;
    border-radius:3px;

    color: #ffffff;
    font-size: 14px;
    font-weight: normal;
    font-family: "Cuprum", sans-serif;
    line-height: 18px;
    outline: none;
    text-transform: uppercase;
}


.btn__buy::before {
    content: "";
    position: absolute;
    top: 50px;
    left: 55px;
    width: 16px;
    height: 18px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: url(../img/icon-cart.svg);
    opacity: 0.3;
}

.btn__buy:hover::before,
.btn__buy:focus::before,
.btn__buy:active::before {
    opacity: 1;
}

.product__hover .btn__buy:hover,
.product__hover .btn__buy:focus {
    background-color: #5fbb2d;
    border: 3px solid #5fbb2d;
    border-bottom-color: #367315;
}

.product__hover .btn__buy:active {
    background-color: #518534;
    border: 3px solid #518534;
}

.product__hover .btn__bookmark {
    color: #32425c;
    background: #ffffff;
    border-bottom-color: #63a63e;
}

.product__hover .btn__bookmark:hover,
.product__hover .btn__bookmark:focus {
    color: #32425c;
    background: #ffffff;
    border-color: #32425c;
}

.product__hover .btn__bookmark:active {
    color: #c1c6ce;
    background: #ffffff;
    border-color: #c1c6ce;
}

.product__hover {
    display: none
}

.catalog-item:hover .product__hover {
    display: block;
}

.pagination-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    padding: 0;
    margin: 0 0 20px 0;

    list-style: none;
}

.pagination-item {
    margin-right: 5px;
}

.pagination-item:last-child {
    margin-right: 0;
}

.pagination-item a {
    display: block;
    padding: 10px 19px;

    color: #000000;
    border: 2px solid #e5e5e5;
    border-radius: 2px;
    background-color: #ffffff;
}

.pagination-item a:hover {
    border-color: #bdc6ca;
}

.pagination-item a:focus,
.pagination-item a:active {
    border-color: #ee3643;
}

.pagination-item-current a {
    color: #ffffff;
    outline: none;
    background-color: #ee3643;
    border-color: #ee3643;
    border-radius: 2px;
}

.pagination-item-current a:hover {
    border-color: #ca2c37;
    background-color: #ca2c37;
}

.pagination-item-current a:focus,
.pagination-item-current a:active {
    border-color: #ba2732;
    background-color: #ba2732;
}

.inner-content-wrap {
    width: 100%;
    background-color: #f2f6f8;
}

.inner-content {
    margin-bottom: 60px;
}

.inner-content h2 {
    padding-top: 60px;
    font-size: 30px;
    font-weight: bold;
    font-family: "Cuprum", Arial, sans-serif;
    text-transform: uppercase;

}

.inner-content p {
    font-size: 14px;
    line-height: 20px;
    font-family: "Cuprum", Arial, sans-serif;
}

.main-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0;

    font-family: "Cuprum", Arial, sans-serif;
    font-weight: normal;
}

.footer__nav-wrap .container,
.footer__copy-wrap .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.footer__nav-wrap {

    margin: 0;

    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    background-color: #3a445b;
}

.footer-contacts {

    width: 335px;
    padding-top: 18px;
    padding-bottom: 40px;
    margin: 0;

    font-size: 18px;
}

.footer-navigation__top .container,
.footer-navigation__bottom .container,
.footer__copy-wrap .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 940px;
}

.site-navigation__top ul,
.site-navigation__bottom ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    list-style: none;
}

.site-navigation__top ul {
    padding-top: 25px;
}

.site-navigation__top a {
    padding-left: 60px;
    color: #ffffff;
}

.site-navigation__bottom a {
    padding-left: 60px;
    color: #f1c77e;
}

.site-navigation__top a:hover,
.site-navigation__bottom a:hover {
    text-decoration: underline;
}

.site-navigation__top a:focus {
    color: #929caa;
}

.site-navigation__bottom a:focus {
    color: #92856d;
}

.footer__copy-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0;
    padding: 30px 0;

    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    background-color: #30374a;
}

.footer-navigation ul,
.footer-mail,
.footer-copyright {
    margin: 0;
    padding: 0;
}


.footer-mail a,
.footer-copyright a {
    color: #f1c77e;
}

.footer-mail a:hover,
.footer-copyright a:hover {
    text-decoration: underline;
}

.footer-mail a:focus,
.footer-copyright a:focus {
    color: #ee3643;
}

.copyright {
    width: 240px;
    margin: 0;
    margin-left: auto;
}

.footer-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.footer-social ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 160px;
    margin: 0;
    margin-left: 150px;
    padding: 0;
    list-style: none;
}

.social-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 44px;
    height: 40px;
    border-radius: 50%;
    background-color: #212a3a;
}

.social-button:hover,
.social-button:focus {
    background-color: #ee3643;
}

.social-button:hover path,
.social-button:focus path {
    fill: #ffffff;
}

@-webkit-keyframes bounce {
    0% {
        -webkit-transform: translateY(-2000px);
        transform: translateY(-2000px);
    }

    70% {
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
    }

    90% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes bounce {
    0% {
        -webkit-transform: translateY(-2000px);
        transform: translateY(-2000px);
    }

    70% {
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
    }

    90% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-webkit-keyframes shake {
    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
}

@keyframes shake {
    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
}

.modal {
    position: fixed;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 6;

    display: none;
    color: #000000;

    background-color: #ffffff;

    background-position: 0 0;
    background-repeat: repeat;
    -webkit-box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-show {
    display: block;

    -webkit-animation: bounce 0.6s;

    animation: bounce 0.6s;
}

.modal-error {
    -webkit-animation: shake 0.6s;
    animation: shake 0.6s;
}

.modal-basket{
    top: 425px;
    left: 35%;

    width: 620px;
    margin-left: -110px;
    padding: 50px 90px 0 90px;

    border-top: 7px solid #ee3643;
}

.modal-close__busket {
    position: absolute;
    top: 10px;
    right: 10px;

    width: 22px;
    height: 22px;

    font-size: 0;

    background-color: transparent;
    border: 0;

    cursor: pointer;
}

.modal-close__busket::before,
.modal-close__busket::after {
    content: "";

    position: absolute;
    top: 10px;
    left: -2px;

    width: 25px;
    height: 3px;

    background-color: #ee3643;
}

.modal-close__busket::before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.modal-close__busket::after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.busket-description {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 20px 70px 70px 120px;

    font-size: 17px;
    line-height: 30px;
    font-family: "Cuprum", Arial, sans-serif;
}

.busket-description:before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 66px;
    height: 66px;

    background-image: url("../img/icon-mark.svg");
}

.busket-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    margin: 0 -90px;
    padding: 20px 90px 40px;

    background-color: #f4f4f4;
}

.busket-form .button {
    position: relative;

    display: block;
    width: 220px;
    margin-top: 19px;
    padding: 10px;

    font-size: 14px;
    line-height: 18px;
    font-family: "Cuprum", Arial, sans-serif;
    outline: none;
    vertical-align: middle;
    text-transform: uppercase;
}

.busket-form .button-order {
    margin-right: 10px;
    color: #ffffff;
    border-color: #ee3643;
    border-radius: 3px;
    background-color: #ee3643;
}

.busket-form .button-order:hover {
    background-color: #ca2c37;
}

.busket-form .button-order:focus {
    background-color: #ba2732;
}

.busket-form .button-buy {
    margin-left: 10px;
    color: #000000;
    border-color: #ffffff;
    border-radius: 3px;
    background-color: #ffffff;
}

.busket-form .button-buy:hover {
    border-color: #b5b5b5;
}

.busket-form .button-buy:focus {
    border-color: #ee3643;
}

.modal-contacts {
    bottom: 130px;
    left: 35%;

    width: 620px;
    margin-left: -100px;
    padding: 50px 80px 0 80px;

    border-top: 7px solid #ee3643;
}

.modal-close__contacts {
    position: absolute;
    top: 10px;
    right: 10px;

    width: 22px;
    height: 22px;

    font-size: 0;

    background-color: transparent;
    border: 0;
    outline: none;

    cursor: pointer;
}

.modal-close__contacts::before,
.modal-close__contacts::after {
    content: "";

    position: absolute;
    top: 10px;
    left: -2px;

    width: 25px;
    height: 3px;

    background-color: #ee3643;
}

.modal-close__contacts::before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.modal-close__contacts::after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.contacts-top  {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    margin-bottom: 10px;
}

.contacts-form p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 10px 20px 0;

    font-size: 18px;
    font-family: "Cuprum", Arial, sans-serif;
}

.contacts-form input,
.contacts-form textarea {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    padding: 10px;

    font-size: 13px;
    line-height: 18px;
    font-family: "PT Sans", Arial, sans-serif;
    color: #b4b4b4;
    outline: none;

    border: 2px solid #d7dcde;
    border-radius: 2px;
}

.contacts-form input {
    width: 220px;
    background-color: #ffffff;
}

.contacts-form textarea {
    width: 100%;
    margin-bottom: 19px;
}

.contacts-form input:hover,
.contacts-form textarea:hover {
    border-color: #b5b5b5;
}

.contacts-form input:focus,
.contacts-form input:active,
.contacts-form textarea:focus,
.contacts-form textarea:active {
    border-color: #ee3643;

}

.contacts-form .button {
    width: 100%;
    margin-top: 19px;
    padding: 10px 40px;

    font-size: 14px;
    line-height: 18px;
    font-family: "Cuprum", Arial, sans-serif;

    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;

    border-color: #ee3643;
    border-radius: 2px;
    outline: none;
    background-color: #ee3643;
}

.contacts-form .button:hover {
    background-color: #ca2c37;
}

.contacts-form .button:focus {
    background-color: #ba2732;
}

.contacts-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: 0 -80px;
    padding: 20px 80px 40px;

    background-color: #f4f4f4;
}

.modal-map {
    top: 50%;
    left: 50%;

    width: 940px;
    height: 420px;
    margin-top: -200px;
    margin-left: -470px;
    padding: 0;

    border: none;
    background-image: url("../img/map-popup.png");
    background-repeat: no-repeat;
    background-position: 0 0;

    opacity: 1;
}

.modal-close__map {
    position: absolute;
    top: 10px;
    right: 10px;

    width: 22px;
    height: 22px;

    font-size: 0;

    background-color: transparent;
    border: 0;

    cursor: pointer;
    z-index: 2;
}

.modal-close__map::before,
.modal-close__map::after {
    content: "";

    position: absolute;
    top: 10px;
    left: -2px;

    width: 25px;
    height: 3px;

    background-color: #ee3643;
}

.modal-close__map::before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.modal-close__map::after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.modal-map p {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    margin: 0;
    padding: 0;
}

.modal-map iframe {
    position: relative;
    z-index: 2;

    border: none;
}

