

body {
    margin: 0;
    padding: 0;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;

    background-color: #ffffff;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.inner {
    color: #000000;

    background-color: #f1f5f7;
}

a {
    font-family: "Cuprum", Arial, sans-serif;
    font-weight: normal;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    font-family: "Cuprum", Arial, sans-serif;
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main-header {
    display: flex;
    flex-direction: column;

    z-index: 1;
    background-position: 10px 10px;
    font-family: "Cuprum", Arial, sans-serif;
    font-weight: normal;
    background-color: #f4f6f8;
}

.page-header__top {
    width: 100%;
    margin-bottom: 40px;

    z-index: 2;
    font-size: 17px;
    line-height: 24px;
    color: #ffffff;

    background-color: #30374a;
}

.page-header__top .container {
    display: flex;
    justify-content: space-between;
}

.order-menu,
.user-navigation__link,
.site-navigation {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-header-logo,
.search-form,
.order-menu {
    align-items: flex-start;
    flex-direction: row;
}

.search-form {
    margin-right: auto;
    }

.order-menu {
    margin-left: auto;
}

.main-header-logo {
    width: 220px;
    height: 45px;
    padding: 0 55px;


    font-size: 21px;

    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;

    background-color: #ee3643;
    border-bottom: 5px solid #b52933;
}

.main-footer-logo {
    width: 220px;
    height: 65px;

    /* Временно для сетки */
    display: block;

    font-size: 21px;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;

    background-color: #ee3643;
    border-bottom: 5px solid #b52933;
}

.main-header-logo path,
.main-footer-logo path {
    fill: #ffffff;
}

.main-header-logo:hover,
.main-footer-logo:hover {
    background-color: #ca2c37;
    border-bottom: 5px solid #9a212a;
}

.main-header-logo:focus,
.main-footer-logo:focus {
    background-color: #ee3643;
    border-bottom: 5px solid #9a212a;
}

.main-header-logo:active,
.main-footer-logo:active {
    background-color: #ba2732;
    border-bottom: 5px solid #8e1e26;
}

.order-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 460px;
    margin: 0;
    padding: 0;

}

.order-menu a {
    color: #ffffff;
}

.search-form {
    display: flex;

    width: 260px;
    margin: 0;
    padding: 0;
}

.search-form input[type="text"] {
    color: #000000;
}

.search-form input:focus {
    border-color: #ffffff;
}

.search-form,
.order-menu__bookmarks,
.order-menu__basket {
    position: relative;
    padding-left: 40px;
}

.search-form::before,
.order-menu__bookmarks::before,
.order-menu__basket::before,
.user-navigation__login::before,
.user-navigation__login::after {
    content: "";

    position: absolute;

    width: 16px;
    height: 18px;

    background-repeat: no-repeat;
    background-position: 0 0;

    opacity: 0.3;
}

.search-form::before {
    top: 22px;
    left: 14px;
    background-image: url("../img/icon-search.svg");
}
.order-menu__bookmarks::before {
    top: 2px;
    left: 14px;
    background-image: url("../img/icon-bookmark.svg");
}
.order-menu__basket::before {
    top: 2px;
    left: 14px;
    background-image: url("../img/icon-cart.svg");

}

.search-form:hover::before{
    opacity: 1;
}

.search-form:focus::before {
    opacity: 0.3;
}

.order-menu__bookmarks:hover::before,
.order-menu__bookmarks:focus::before,
.order-menu__bookmarks:active::before,
.order-menu__basket:hover::before,
.order-menu__basket:focus::before,
.order-menu__basket:active::before{
    opacity: 1;
}

.order-menu__bookmarks:focus,
.order-menu__basket:focus {
    color: #999ca1;
    background-color: #161d29;
    opacity: 0.6;
}

.order-menu__bookmarks:active,
.order-menu__basket:active {
    color: #999ca1;
    background-color: #161d29;
}

.order-menu__button {
    display: block;
    width: 150px;
    margin: 0 auto;
    padding: 15px 0;
    text-align: center;
    background-color: #63a63e;
}

.order-menu__button:hover {
    background-color: #5fbb2d;
}

.order-menu__button:focus,
.order-menu__button:active {
    background-color: #518534;
}

.order-menu__button,
.order-menu__button:hover {
   color: #ffffff;
}

.order-menu__button:focus,
.order-menu__button:active {
    color: #a2be93;
}

.page-header__bottom {
    display: flex;
    justify-content: space-between;
    width: 940px;
    margin: 0;
    padding: 0;

}

.main-navigation {
    width: 940px;
    margin-bottom: 60px;
    padding: 0;

    font-family: "Cuprum", Arial, sans-serif;
    font-size: 17px;
    color: #ffffff;

    background-color: #3a445b;
    border-bottom: 5px solid #293449;
}

.site-title {
    margin: 0;
    margin-bottom: 45px;
    font-style: italic;
    font-size: 16px;
    line-height: 23px;
    color: #ee434f;
}

.phone-link {
    width: 150px;
    height: 41px;
    padding: 10px 50px;
    font-size: 21px;
    color: #ee3643;
    border: 4px solid #ffffff;

}

.header-contacts {
    font-size: 14px;
    line-height: 24px;
    color: #32425c;
}

.user-navigation__login,
.user-navigation__reg {
    font-size: 21px;
    color: #000000;
}

.user-navigation__link a {
    color: #000000;
    background-color: #ffffff;
}

.user-navigation__link a:hover{
    color: #ee3643;
    background-color: #ffffff;
}


.user-navigation__link a:focus {
    color: #c5c5c5;
    background-color: #ffffff;
}

.user-navigation__login a:hover {
    color: #000000;
}

.user-navigation__login a:focus,
.user-navigation__login a:active {
    color: #c5c5c5;
}


.user-navigation__login::before {
    position: relative;
    padding-left: 40px;
    top: 2px;
    left: 14px;
    background-image: url("../img/icon-user.svg");
    color: #c5c5c5;
}

.user-navigation__login::after {
    position: relative;
    padding-right: 40px;
    top: 2px;
    left: 14px;
    background-image: url("../img/icon-login.svg");
    color: #c5c5c5;
}

.user-navigation__login:hover::before,
.user-navigation__login:hover::after {
    color: #32425c;
}

.user-navigation__login:focus::before,
.user-navigation__login:active::before,
.user-navigation__login:focus::after,
.user-navigation__login:active::after {
    color: #32425c;
}

.user-navigation__orders a,
.user-navigation__acc a {
    font-size: 11px;
    color: #32425c;
    text-decoration: underline;
}

.user-navigation__orders a:hover,
.user-navigation__acc a:hover {
    color: #ee3643;
}

.user-navigation__orders a:focus,
.user-navigation__acc a:focus {
    color: #b7bfc8;
}

.site-navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 18px 50px;

}
.site-navigation a {

    color: #ffffff
}

.site-navigation a:hover {
    background-color: #293449;
}

.site-navigation a:focus {
    color: #868c95;
    background-color: #1d2739;
}

.index-columns {
    display: flex;
    justify-content: space-between;
    padding: 80px 0;
    margin: 0;

    font-family: "Cuprum", Arial, sans-serif;
}

.info {
    width: 540px;

}

.contacts {
    width: 300px;

}
.index-columns h2 {
    font-size: 21px;
    text-transform: uppercase;

}

.index-columns p {
    font-size: 16px;
    line-height: 22px;
}

.index-columns ul {
    font-size: 18px;
}

.info .button {
    display: inline-block;
    margin-top: 10px;
}

.contacts .button {
    display: block;
    margin-top: 18px;
}

.info .button,
.contacts .button {
    padding: 10px 30px;

    font-size: 14px;
    line-height: 18px;

    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;

    background-color: #ee3643;
    border: none;
}

.main {
    background-color: #ffffff;
}

.main-product__wrap {
    width: 100%;
    padding: 10px 0;
    background-color: #f2f6f8;
}

.main-product {
    display: flex;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    text-transform: uppercase;
}

.breadcrumbs {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0;
    margin: 0;
    margin-right: auto;
    list-style: none;
}

.breadcrumbs a,
.breadcrumbs-current {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    color: #000000;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
    text-decoration: underline;
}

.catalog-wrap {
    display: flex;
    justify-content: space-between;
}

.catalog-item h3 {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
}

.filter h3 {
    font-size: 12px;
    text-transform: uppercase;
}

.filter fieldset {
    border: none;
}

.filter legend {
    font-size: 17px;
    font-weight: bold;
    line-height: 38px;
    text-transform: uppercase;
    color: #000000;
}

.filter ul {
    list-style: none;
    font-size: 15px;
    line-height: 38px;
    text-transform: uppercase;
}

.filter-input:hover + label,
.filter-input:focus + label {
    color: #000000;
}

.filter-input:disabled + label {
    color: #b4b4b4;

    opacity: 0.5;
}

.catalog {
    width: 700px;
    margin: 20px auto;
}

.catalog-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-bottom: 50px;
    list-style: none;
}

.catalog-item {
    position: relative;
    display: inline-block;
    width: 218px;

    margin-bottom: 20px;

    line-height: 20px;
    font-weight: bold;
    text-align: center;

    border: 1px solid #e5e5e5;

}

.catalog-item:nth-child(3n) {
    margin-right: 0;
}

.catalog-items {
    font-size: 0;
}

.catalog-item {
    font-size: 16px;
}

.catalog-item--badge {
    position: relative;
}

.catalog-item--badge::before {
    content: "";
    position: absolute;
    top: -1px;
    right: -1px;

    width: 60px;
    height: 60px;

    text-indent: -1000px;
    overflow: hidden;
    z-index: 20;

    background-image: url("../img/new-flag.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.btn__buy,
.btn__bookmark {
    display: none;
}

.catalog-item-image {
    width: 218px;
    height: 168px;
}

.catalog-item-image img{
    max-width: 100%;
}

.catalog-item:hover {
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.5);
}

.catalog-category,
.catalog-item-title {
    min-height: 40px;
    padding: 0 25px;
    margin-top: 10px;
    margin-bottom: 15px;
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: bold;
    color: #000000;
}

.catalog-category {
    text-transform: none;
}

.catalog-item-price {
    font-size: 16px;
    line-height: 32px;
    text-align: center;
}

.catalog-item-price .price__old {
    display: block;
    min-height: 20px;
    margin-top: 15px;
    margin-bottom: 10px;

    color: #999999;
    background-color: #ffffff;

    text-decoration: line-through;
}

.price {
    position: relative;

    display: block;
    width: 80px;
    margin: 10px auto 20px auto;
    padding: 4px 30px;

    color: #ffffff;
    background-color: #ee3643;
    border-radius: 3px;
}

.price:after {
    content: "";

    position: absolute;
    top: 0;
    right: -20px;

    width: 0;
    height: 0;

    border: 20px solid white;
    border-left-color: #ee3643;
}

.product__hover {
    position: absolute;
    top: 0;
    left: 0;

    width: 218px;
    height: 88px;
    padding: 40px 0;

    background-color: rgba(255,255,255,0.9);
    z-index: 10;
}

.product__hover .btn__buy,
.product__hover .btn__bookmark {
    display: block;
    width: 129px;
    margin: 0 auto;
    margin-bottom: 7px;
    padding: 7px 0;

    background-color: #63a63e;
    border: 3px solid #63a63e;
    border-bottom-color: #367315;
    border-radius:3px;

    color: #ffffff;
    font-size: 14px;
    font-weight: normal;
    font-family: "Cuprum", sans-serif;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
}

.product__hover .btn__buy:hover,
.product__hover .btn__buy:focus {
    background-color: #5fbb2d;
    border: 3px solid #5fbb2d;
    border-bottom-color: #367315;
}

.product__hover .btn__buy:active {
    background-color: #518534;
    border: 3px solid #518534;
}

.product__hover .btn__bookmark {
    color: #32425c;
    background: #ffffff;
    border-bottom-color: #63a63e;
}

.product__hover .btn__bookmark:hover,
.product__hover .btn__bookmark:focus {
    color: #32425c;
    background: #ffffff;
    border-color: #32425c;
}

.product__hover .btn__bookmark:active {
    color: #c1c6ce;
    background: #ffffff;
    border-color: #c1c6ce;
}

.product__hover {
    display: none
}

.catalog-item:hover .product__hover {
    display: block;
}



.main-footer {
    display: flex;
    flex-direction: column;
    margin: 0;

    font-family: "Cuprum", Arial, sans-serif;
    font-weight: normal;
}

.footer__nav-wrap .container,
.footer__copy-wrap .container {
    display: flex;
}

.footer__nav-wrap {

    margin: 0;

    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    background-color: #3a445b;
}

.footer-contacts {

    width: 335px;
    padding-top: 18px;
    padding-bottom: 40px;
    margin: 0;

    font-size: 18px;
}

.footer-navigation__top .container,
.footer-navigation__bottom .container,
.footer__copy-wrap .container {
    display: flex;
    justify-content: space-between;
    width: 940px;
}

.site-navigation__top ul,
.site-navigation__bottom ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    list-style: none;
}


.site-navigation__top a {
    padding-left: 60px;
    color: #ffffff;
}

.site-navigation__bottom a {
    padding-left: 60px;
    color: #f1c77e;
}

.site-navigation__top a:hover,
.site-navigation__bottom a:hover {
    text-decoration: underline;
}

.site-navigation__top a:focus {
    color: #929caa;
}

.site-navigation__bottom a:focus {
    color: #92856d;
}

.footer__copy-wrap {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 30px 0;

    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    background-color: #30374a;
}

.footer-navigation ul,
.footer-mail,
.footer-copyright {
    margin: 0;
    padding: 0;
}


.footer-mail a,
.footer-copyright a {
    color: #f1c77e;
}

.footer-mail a:hover,
.footer-copyright a:hover {
    text-decoration: underline;
}

.footer-mail a:focus,
.footer-copyright a:focus {
    color: #ee3643;
}

.copyright {
    width: 240px;
    margin: 0;
    margin-left: auto;
}

.footer-social ul {
    width: 160px;
    list-style: none;
}

.social-button {
    width: 44px;
    height: 40px;

    background-color: #212a3a;
}

.social-button:hover,
.social-button:focus {
    background-color: #ee3643;
}

.social-button:hover path,
.social-button:focus path {

}

.modal {
    display: none;
}